<ion-content>



  <ion-tabs class="tabular">

    <ion-tab-bar slot="bottom">

      <ion-tab-button tab="landing" class="tabular">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="my-activity" class="tabular">
        <ion-icon name="cafe-outline" ></ion-icon>
        <ion-label>My Activity</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="dashboard" class="tabular">
        <ion-icon name="analytics"></ion-icon>
        <ion-label>Dashboard</ion-label>
      </ion-tab-button>


      <ion-tab-button tab="profile" class="tabular">
        <ion-icon name="person-circle-outline"></ion-icon>
        <ion-label>Profile</ion-label>
      </ion-tab-button>



    <ion-tab-button class="tabular" (click)="onClick()">
      <ion-icon name="log-in-outline"></ion-icon>
      <ion-label>Logout</ion-label>
    </ion-tab-button>
    </ion-tab-bar>

  </ion-tabs>


</ion-content>
