<ion-content>
  <div class="pink"></div>
  <div class="grey"></div>
  <div class="blue"></div>

  <h2>Platonia</h2>
  <h5>Reset Password</h5>
  <p>Enter your email to receive a reset link</p>

  <form #form="ngForm" (ngSubmit)="sendReset(form)">
    <ion-item lines="none">
      <ion-label position="stacked" class="label">Email</ion-label>
      <ion-input type="email" name="email" ngModel required></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit">Send Reset Link</ion-button>
  </form>
</ion-content>
